*{
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  background-color: #FADA7A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  margin-top: 20px;
  font-size: 40px;
}

#container{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}


#container>div{
  width: 25px;
  height: 25px;
  border: solid white;
  background-color: #94e2eb;
  transition: .1s;
}

#container>div.hovered{
  background-color: #54a1c2;
}

button{
  padding: 10px;
  font-size: 20px;
  margin: 20px;
  background-color: #F5F0CD;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 5px;
}